body{
  font-family: 'Raleway';
  margin: 0;
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

/* Up Part */

#uppart{
  background-color: #34495e;
  padding: 50px 10px 10px 10px;
}

#uppart h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color:#fafafa;
  padding-bottom: 20px;
}

#uppart form{
  width: 320px;
  margin: 0 auto;
}

#uppart form label{
  color: #fafafa;
  font-size: 16px;
}

#uppart form input,#uppart form textarea{
  color: #050505;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #cccccc;
  border-radius: 3px;
}

#uppart input[type=submit]{
  width: 180px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border-bottom: 3px solid #cccccc;
  display: block;
  margin: 0 auto;
}
#uppart p{
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  color: #fafafa;
}


/* Down Part */

#downpart{
  background-color: #2c3e50;
  padding: 50px 10px;
}

#downpart .note-list{
  width: 1130px;
  margin: 0 auto;
}

#downpart .note{
  width: 500px;
  height: 135px;
  margin: 10px;
  display: inline-block;
  background-color: #cecece;
  padding: 30px 20px;
  border-radius: 3px;
  overflow: auto;
}

#downpart .note i{
  display: none;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

#downpart .note:hover i{
  display: inline-block;
}

#downpart .note p{
  font-size: 18px;
}

#downpart .transform{
  position: relative;
/*  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);*/
}

#downpart .inedit{
  position: relative;
  top: 0;
  left: 0;
  z-index: 11;
}

#downpart form{
  width: 320px;
  margin: 0 auto;
}

#downpart form label{
  color: black;
  font-size: 16px;
}

#downpart form input,#downpart form textarea{
  color: #050505;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #2c3e50;
  border-radius: 3px;
}

#downpart input[type=submit]{
  width: 180px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border-bottom: 3px solid #2c3e50;
  display: block;
  margin: 0 auto;
}
