<!DOCTYPE html>
<html ng-app="app">
<head>
	<link href="css/custom.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Raleway:900,700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome-4.5.0\css\font-awesome.min.css">
	<title>My Taskboard</title>
</head>
<body>
<div ng-controller="notesController">
	<div class="overlay">
	<div id="uppart">
		<h1>My Task Board</h1>
		<form ng-submit="addButton()">
			<label for="title">Your Title:</label>
			<input type="text" id="title" class="inputs" ng-model="title" ng-keyup="addIfEnter(event)" placeholder="Type in the title"/>
			<label for="when">Until when:</label>
			<input type="text" id="when" class="inputs" ng-model="when" ng-keyup="addIfEnter(event)" placeholder="What's the deadline?"/>
			<label for="description">Description:</label>
			<textarea cols="3" id="description" class="inputs" ng-model="description" placeholder="Type in a decsription of your note"></textarea>
			<input type="submit" value="add">
			<p>you have {{notesArray.length}} notes listed</p>
		</form>
	</div> <!--/#uppart -->
	<div id="downpart">
		<ul class="notes-list">
			<li class="note"  ng-class="{inedit: note.inEdit}" ng-repeat="note in notesArray">
				<div>
					<div>
						<div ng-show=!note.inEdit> <!--note display-->
							<i class="fa fa-times" ng-click="removeNote(note)"></i>
							<i class="fa fa-pencil" ng-click="editNote(note) "></i>
							<p><b>title: </b>{{note.title}}</p>
							<p><b>until: </b>{{note.when}}</p>
							<p><b>description: </b>{{note.description}}</p>
						</div> <!--/note display-->
						<form ng-submit="saveEditedNote(note)" ng-show=note.inEdit> <!--note edit form-->
							<label>Title:</label>
							<input type="text" ng-model="note.title">
							<label>Deadline:</label>
							<input type="text" ng-model="note.when">
							<label>Decription:</label>
							<textarea ng-model="note.description"></textarea>
							<input type="submit" value="Save">
						</form> <!--/note edit form-->
					</div>
				</div>
			</li><!--/.note-->
		</ul><!--/.notes-list-->
	</div> <!--/#downpart-->
	</div>
</div> <!--/notesController-->
<script type="text/javascript" src="../angular.min.js"></script>
<script type="text/javascript" src="js/logic.js"></script>
<script type="text/javascript" src="js/notesController.js"></script>
</body>
</html>